<br/>
<div class="majordiv">
        
    <div class="col-sm-9">

        <form [formGroup]="donateForm" (ngSubmit)="Initiate()">

            <br/>
            <h3 style="text-align: center;">Initiate Payment</h3>
            <hr/>

            <div>
                <label for="cardno"><b>Card Number</b></label>
                <input type="number" class="form-control" placeholder="Card Number" name="cardno" formControlName="cardno"><br/>
            </div>
    
            <div class="alert alert-danger" *ngIf="cardno.touched && cardno.errors?.required">
                <small> Card Number is required. </small><br/>
            </div>

            <div>
                <label for="cvv"><b>CVV</b></label>
                <input type="number" class="form-control" placeholder="CVV" name="cvv" formControlName="cvv"><br/>
            </div>
    
            <div class="alert alert-danger" *ngIf="cvv.touched && cvv.errors?.required">
                <small> CVV is required. </small><br/>
            </div>

            <div>
                <label for="expirymonth"><b>Expiry Month</b></label>
                <input type="number" class="form-control" placeholder="Expiry Month" name="expirymonth" formControlName="expirymonth"><br/>
            </div>
    
            <div class="alert alert-danger" *ngIf="expirymonth.touched && expirymonth.errors?.required">
                <small> Expiry Month is required. </small><br/>
            </div>

            <div>
                <label for="expiryyear"><b>Expiry Year</b></label>
                <input type="number" class="form-control" placeholder="Expiry Year" name="expiryyear" formControlName="expiryyear"><br/>
            </div>
    
            <div class="alert alert-danger" *ngIf="expiryyear.touched && expiryyear.errors?.required">
                <small> Expiry Year is required. </small><br/>
            </div>

            <div>
                <label for="amount"><b>Amount</b></label>
                <input type="number" class="form-control" placeholder="Amount" name="amount" formControlName="amount"><br/>
            </div>
    
            <div class="alert alert-danger" *ngIf="amount.touched && amount.errors?.required">
                <small> Amount is required. </small><br/>
            </div>

            <div>
                <input type="hidden" class="form-control" name="currency" formControlName="currency">
            </div>

            <div>
                <label for="email"><b>Email</b></label>
                <input type="email" class="form-control" placeholder="Email" name="email" formControlName="email"><br/>
            </div>
    
            <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">
                <small> Email is required. </small><br/>
            </div>

            <div>
                <label for="phonenumber"><b>Phone Number</b></label>
                <input type="number" class="form-control" placeholder="Phone Number" name="phonenumber" formControlName="phonenumber"><br/>
            </div>
    
            <div class="alert alert-danger" *ngIf="phonenumber.touched && phonenumber.errors?.required">
                <small> Phone Number is required. </small><br/>
            </div>
            
            <div>
                <button type="submit" [disabled]="!donateForm.valid" class="form-control btn btn-success" style="color: white;">Submit</button>
            </div>

            <br>
            <br>

        </form>
    </div>
</div>

<br>
<br>
<br>
