<div>
    <div class="row">

        <div class="col-sm-6 footer">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>FUNDRAISING FOR</h5>
                    <p>Emergency</p>
                    <p>Memorial</p>
                    <p>Education</p>
                    <p>Nonprofit</p>
                    <p>Medical</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 footer">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>RESOURCES</h5>
                    <p>Help center</p>
                    <p>Blog</p>
                    <p>Careers</p>
                    <p>About</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
