<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="#">
          <h4>
            <span>
              <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fhelping-hand-128.png?alt=media&token=d569a045-7108-42c3-bf51-f9dbb33bd70e"/>
              FundRaise
            </span>
          </h4>
        </a>
      </li>  
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="howitworks">How It Works</a>
        </li>
        <li class="nav-item active" *ngIf="!removeButton">
          <a class="nav-link" href="signup">Sign Up</a>
        </li>
        <li class="nav-item active" *ngIf="!removeButton">
          <a class="nav-link" href="signin">Sign In</a>
        </li>
        <li class="nav-item active" *ngIf="removeButton">
          <a class="nav-link" href="signin">Your Profile</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      </ul>

      <form class="form-inline my-2 my-lg-0" *ngIf="!removeButton">
        <a class="btn btn-danger btn-sm my-2 my-sm-0" href="/signin" style="color: white;" type="submit">
          Start A Fundraise
        </a>
      </form>

      <form class="form-inline my-2 my-lg-0" *ngIf="removeButton" (click)="signOut()">
        <button class="btn btn-success btn-sm my-2 my-sm-0" style="color: white;" type="submit">
          Sign Out 
        </button>
      </form>

    </div>
</nav>
