<div>
    <div class="divone">

    </div>
    <br>
    <div class="container">
        <div class="row">

            <div class="col-sm-4 cardcenter">
                <div class="card" style="width: 18rem;">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Ffamily-photo.jpg?alt=media&token=2d92e648-5e26-4e50-b5c9-4af8da48ae91" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4 cardcenter">
                <div class="card" style="width: 18rem;">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fcharity2.jpg?alt=media&token=fd4e6611-e51a-44a7-90a1-f3ddc24698f9" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 cardcenter">
                <div class="card" style="width: 18rem;">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fdonate.jpg?alt=media&token=6f0451bf-907d-44ad-8ab0-6e313669c89b" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>

</div>

<hr/>

<div>
  <app-footer></app-footer>
</div>
