.center{
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(224,20,224,1);
    -moz-box-shadow: 2px 2px 13px -4px rgba(224,20,224,1);
    box-shadow: 2px 2px 13px -4px rgba(224,20,224,1);

}

.majordiv{
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0 10px 0 10px;
    align-content: center;
    justify-content: center;
}

.loading{
    width: 30px;
    height: 30px;
}