<br/>
<div class="majordiv">
    <br/>
    <div class="col-sm-6 center">
        <form [formGroup]="registrationForm" (ngSubmit)="Register()">
            <br/>
            <h3 style="text-align: center;">Registration</h3>
            <hr/>

            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Firstname" name="First_Name" formControlName="First_Name"/><br/>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Lastname" name="Last_Name" formControlName="Last_Name"/><br/>
                </div>
            </div>

            <div class="alert alert-danger" *ngIf="Last_Name.touched && Last_Name.errors?.required">
                <small> Last Name is required. </small><br/>
            </div>

            <div class="alert alert-danger" *ngIf="First_Name.touched && First_Name.errors?.required">
                <small> First Name is required. </small><br/>
            </div>

            <div>
                <input type="email" class="form-control" placeholder="Email Address" name="Email_Address" formControlName="Email_Address"><br/>
            </div>

            <div class="alert alert-danger" *ngIf="Email_Address.touched && Email_Address.errors?.required">
                <small> Address is required. </small><br/>
            </div>

            <div>
                <input type="email" class="form-control" placeholder="Phone Number" name="Phone_Number" formControlName="Phone_Number"><br/>
            </div>

            <div class="alert alert-danger" *ngIf="Phone_Number.touched && Phone_Number.errors?.required">
                <small> Phone number is required. </small><br/>
            </div>

            <div>
                <input type="email" class="form-control" placeholder="Password" name="Password" formControlName="Password"><br/>
            </div>

            <div class="alert alert-danger" *ngIf="Password.touched && Password.errors?.required">
                <small> Password is required. </small><br/>
            </div>

            <div>
                <input type="submit" class="form-control btn btn-success" value="Sign Up">
            </div>

            <br/>
        </form>
    </div>    
</div>
<br/>