<br/>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3">
            <img class="image" [src]="fundraiser?.image">
        </div>
        
        <div class="col-sm-7 container">
            <br>
            <h3> {{ fundraiser?.title | uppercase }}</h3>
            <hr/>
            <p>  {{ fundraiser?.purpose | uppercase }} </p>
            <hr/>
            <p>  {{ fundraiser?.description | uppercase }} </p>
            <hr/>
            <h5> CREATED BY : {{ fundraiser?.campaignOwner.first_Name }} {{ fundraiser?.campaignOwner.last_Name }} </h5>
            <hr/>
            <h5> {{ fundraiser?.current_Amount |currency:"NGN":"#" }} out of {{ fundraiser?.amount_Goal |currency:"NGN":"#" }} contributed. </h5>
            <hr/>
        </div>
    </div>
    <div class="sol-sm-12">
        <a href="donate/{{fundraiserId}}" class="btn btn-success col-sm-12">Donate</a>
    </div>

</div>

<br/><br/><br/>